.main {
    background: url(../../images/bg.jpg);
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#players {
    position: absolute;
    bottom: 0px;
}

@media screen and (max-width: 1780px) {
    .main {
        background-size: cover !important;
        background-position-x: center !important;
    }
    div#img {
        display: none;
    }
    div#imgdao {
        display: none;
    }
    div#title {
        position: relative !important;
        text-align: center !important;
        color: white !important;
        width: fit-content !important;
        width: 100% !important;
        top: 55% !important;
        left: 0px !important;
    }
    div#title>.col {
        text-align: center !important;
        font-size: 30px !important;
        color: white !important;
        font-family: 'Noto Serif SC', serif !important;
    }
    div#tool {
        position: relative !important;
        text-align: center !important;
        top: 75% !important;
        left: 0px !important;
        color: white !important;
    }
    div#tool>i.iconfont {
        font-size: 40px !important;
    }
}

.main {
    background-size: 150%;
    background-position: left;
}

div#title {
    position: relative;
    bottom: 20%;
    position: absolute;
    left: 15%;
    width: fit-content;
}

div#img {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 400px;
    height: 400px;
    z-index: 99;
}

div#imgdao {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px white;
    background: url(../../images/dao.png);
    background-size: 100%;
    z-index: 0;
}

div#title>.col {
    font-size: 50px;
    color: white;
    font-family: 'Noto Serif SC', serif;
}

div#tool>i.iconfont {
    font-size: 30px;
}

div#tool {
    position: absolute;
    top: 63%;
    left: 40%;
    color: white;
}